<ion-header></ion-header>

<ion-content class="ecamp-login">

  <div class="ecamp-login-form">

    <app-login-form [isRememberPassword]="isRememberPassword" (login)="login($event)"
      (changePassword)="changePassword($event)">
    </app-login-form>
  </div>

</ion-content>