.ecamp-login {

    background-color: map-get($colors, color-blue);

    .scroll-content {
        display: flex;
    }

    .ecamp-login-form {
        width: 100%;
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px 15px;
        background-color: #fff;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
}