<ion-header>
  <app-modal-toolbar></app-modal-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="message">
    <div text-center>
      <h3><strong>{{ message.title }}</strong></h3>
    </div>
    <p>{{ message.body }}</p>
  </ng-container>
  <app-empty-state *ngIf="!message" [message]="'MESSAGES.NOT-MESSAGE'">
  </app-empty-state>
</ion-content>