<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="ecamp-btn-menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ 'MENU.INSTRUCTORS' | translate | uppercase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row padding>
      <ion-col col-12 text-center>
        <h3><strong>{{ 'INSTRUCTORS.TITLE' | translate }}</strong></h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-loading *ngIf="loading$ | async"></app-loading>

  <ng-container *ngIf="!(loading$ | async) && (childs$ | async)">
    <ion-list class="ecamp-list" *ngIf="childs$ | async as childs">

      <button ion-item detail-none class="list-item" *ngFor="let child of childs" (click)="openInstructorDetail(child)">
        <strong>{{ child.name }}</strong>
        <i class="fas fa-chevron-right" item-end></i>
      </button>

    </ion-list>
  </ng-container>

  <app-empty-state *ngIf="!(loading$ | async) && !(childs$ | async).length" [message]="'INSTRUCTORS.NOT-CHILDS'">
  </app-empty-state>

</ion-content>