<div class="ecamp-form-header">
  <i class="fas fa-user-circle"></i>
  <p *ngIf="!isRememberPassword">{{ 'LOGIN.FORM.LOGIN-HEADER' | translate | uppercase }}</p>
  <p *ngIf="isRememberPassword">{{ 'LOGIN.FORM.REMEMBER-PASS-HEADER' | translate | uppercase }}</p>
</div>

<!-- Login form -->
<div class="ecamp-form-body">

  <form *ngIf="!isRememberPassword" [formGroup]="loginForm">

    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>{{ 'LOGIN.FORM.EMAIL' | translate }}</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <app-input-error [control]="loginEmail" [message]="'LOGIN.FORM.ERRORS.INCORRECT-EMAIL'">
      </app-input-error>
      <ion-item>
        <ion-label color="primary" floating>{{ 'LOGIN.FORM.PASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="pass">
        </ion-input>
      </ion-item>
      <app-input-error [control]="pass" [message]="'LOGIN.FORM.ERRORS.INCORRECT-PASSWORD'">
      </app-input-error>
      <ion-buttons end>
        <button ion-button clear="true" class="forget-password" (click)="showChangePassword()">
          {{ 'LOGIN.FORM.FORGET-PASSWORD' | translate }}
        </button>
      </ion-buttons>
      <div text-center>
        <button ion-button round class="loginForm.valid ? ecamp-btn-success : ecamp-btn-disabled"
          [disabled]="!loginForm.valid" (click)="send()">
          {{ 'LOGIN.FORM.LOGIN-BTN' | translate | uppercase }}
        </button>
      </div>
    </ion-list>

  </form>

  <form *ngIf="isRememberPassword" [formGroup]="changePasswordForm">

    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>{{ 'LOGIN.FORM.EMAIL' | translate }}</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <app-input-error [control]="email" [message]="'LOGIN.FORM.ERRORS.INCORRECT-EMAIL'">
      </app-input-error>
      <ion-item>
        <ion-label color="primary" floating>{{ 'LOGIN.FORM.NEW-PASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="newPassword">
        </ion-input>
      </ion-item>
      <app-input-error [control]="newPassword" [message]="'LOGIN.FORM.ERRORS.INCORRECT-PASSWORD'">
      </app-input-error>
      <ion-item>
        <ion-label color="primary" floating>{{ 'LOGIN.FORM.REPEAT-PASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="repeatPassword">
        </ion-input>
      </ion-item>
      <app-input-error [control]="repeatPassword" [message]="'LOGIN.FORM.ERRORS.INCORRECT-PASSWORD'">
      </app-input-error>
      <app-input-error *ngIf="passwordsInvalid" [message]="'LOGIN.FORM.ERRORS.PASSWORDS-NOT-EQUAL'">
      </app-input-error>
      <br>
      <ion-buttons text-center>
        <button ion-button round class="changePasswordForm.valid ? ecamp-btn-success : ecamp-btn-disabled"
          [disabled]="!changePasswordForm.valid" (click)="sendNewPassword()">
          {{ 'LOGIN.FORM.REMEMBER-PASS-BTN' | translate | uppercase }}
        </button>
        <br>
        <button ion-button clear="true" class="cancel-btn" (click)="cancel()">
          {{ 'LOGIN.FORM.CANCEL-BTN' | translate }}
        </button>
      </ion-buttons>
    </ion-list>

  </form>

</div>