.ecamp-form {

    &-header {

        text-align: center;

        i {
            font-size: 100px;
            color: map-get($colors, primary);
        }

        p {
            font-size: 30px;
        }
    }

    &-body {

        ion-list {

            margin: 0;

            ion-item {
                padding: 0;
            }

            .forget-password, .cancel-btn {
                color: map-get($colors , primary);
                padding: 0;
                font-size: 15px;
                font-weight: bold;
                text-transform: none;
            }
        }
    }
}