<ion-header>
  <app-modal-toolbar></app-modal-toolbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="programming">

    <div text-center>
      <h3><strong>{{ programming.title }}</strong></h3>
    </div>

    <p>{{ programming.body }}</p>

    <div class="ecamp-card">
      <ion-slides pager>
        <ion-slide *ngFor="let image of programming.images">
          <img [src]="image.secure_url || image.url">
        </ion-slide>
      </ion-slides>
    </div>

  </ng-container>

  <app-empty-state *ngIf="!programming" [message]="'PROGRAMMINGS.NOT-PROGRAMMING'">
  </app-empty-state>

</ion-content>