<ion-header>
  <ion-navbar>
    <ion-title><strong>{{ 'MENU.PROGRAMMINGS' | translate | uppercase }}</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row padding>
      <ion-col col-12 text-center>
        <h5>{{ 'PROGRAMMINGS.TITLE' | translate }}</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="ecamp-list" *ngIf="childs$ | async as childs">
    <button ion-item detail-none class="list-item" *ngFor="let child of childs"
      (click)="goToCampProgramming(child.camp)">
      <strong>{{ child.camp.name }}</strong>
      <i class="fas fa-chevron-right" item-end></i>
    </button>
  </ion-list>

  <app-empty-state *ngIf="!(childs$ | async) || !(childs$ | async).length" [message]="'PROGRAMMINGS.NOT-CAMPS'">
  </app-empty-state>

</ion-content>