<ion-navbar>
  <ion-title text-center>{{ title | translate | uppercase }}</ion-title>
  <ion-buttons end>
    <button ion-button (click)="dismiss()">
      <i class="far fa-times-circle"></i>
    </button>
  </ion-buttons>
</ion-navbar>