page-profile {

    .profile-avatar {

        width: 150px;
        height: 150px;
        border: 2px solid map-get($colors, color-blue);
        border-style: dotted;
        border-radius: 50%;
        object-fit: cover;
    }

    app-input-error {
        padding: 0px 16px;
    }

    .invalid-passwords {
        font-size: 15px;
        font-weight: bold;
        color: map-get($colors, danger);
        padding: 10px 16px;
        margin: 0;
    }
}