<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ 'MENU.PROFILE' | translate | uppercase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <app-loading *ngIf="loading$ | async"></app-loading>

    <form *ngIf="!(loading$ | async) && (profile$ | async)" [formGroup]="profileForm">

      <ion-row text-center>
        <ion-col col-12>
          <img class="profile-avatar" [src]="avatar.value.secure_url" alt="profile-avatar">
        </ion-col>
        <ion-col col-12>
          <button ion-button round outline small
            (click)="changeAvatar()">{{ 'PROFILE.CHANGE-AVATAR' | translate }}</button>
        </ion-col>
      </ion-row>

      <ion-row text-center>

        <ion-item col-6>
          <ion-label color="primary" floating>{{ 'PROFILE.NAME' | translate }}</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item col-6>
          <ion-label color="primary" floating>{{ 'PROFILE.SURNAMES' | translate }}</ion-label>
          <ion-input type="text" formControlName="surnames"></ion-input>
        </ion-item>
        <ion-item col-12>
          <ion-label color="primary" floating>{{ 'PROFILE.E-MAIL' | translate }}</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <app-input-error [control]="email" [message]="'LOGIN.FORM.ERRORS.INCORRECT-EMAIL'">
        </app-input-error>
        <ion-item col-12>
          <ion-label color="primary" floating>{{ 'PROFILE.PHONE' | translate }}</ion-label>
          <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
        <ng-container formGroupName="pass">
          <ion-item col-12>
            <ion-label color="primary" floating>{{ 'PROFILE.PASSWORD' | translate }}</ion-label>
            <ion-input type="password" formControlName="newPass"></ion-input>
          </ion-item>
          <app-input-error *ngIf="newPass.value" [control]="newPass" [message]="'LOGIN.FORM.ERRORS.INCORRECT-PASSWORD'">
          </app-input-error>
          <ion-item col-12>
            <ion-label color="primary" floating>{{ 'PROFILE.REPEAT-PASSWORD' | translate }}</ion-label>
            <ion-input type="password" formControlName="repeatPass"></ion-input>
          </ion-item>
          <p class="invalid-passwords" *ngIf="repeatPass.value && repeatPass.invalid">
            {{ 'LOGIN.FORM.ERRORS.INCORRECT-PASSWORD' | translate }}
          </p>
          <p class="invalid-passwords" *ngIf="passwordsInvalid">
            {{ 'LOGIN.FORM.ERRORS.PASSWORDS-NOT-EQUAL' | translate }}
          </p>
          <!-- <app-input-error *ngIf="passwordsInvalid" [message]="'LOGIN.FORM.ERRORS.PASSWORDS-NOT-EQUAL'">
          </app-input-error> -->
        </ng-container>
        <ion-item col-12>
          <ion-label color="primary" floating>{{ 'PROFILE.LANGUAGE' | translate }}</ion-label>
          <ion-select formControlName="language" (ionChange)="changeLanguage($event)">
            <ion-option *ngFor="let language of languages" [value]="language.code">{{ language.name | translate }}
            </ion-option>
          </ion-select>
        </ion-item>

      </ion-row>

      <ion-row padding text-center>
        <ion-col col-12>
          <button ion-button round outline class="ecamp-btn profileForm.valid ? ecamp-btn-success : ecamp-btn-disabled"
            [disabled]="!profileForm.valid" (click)="save()">{{ 'PROFILE.SAVE' | translate }}</button>
        </ion-col>
      </ion-row>

    </form>

    <app-empty-state *ngIf="!(loading$ | async) && !(profile$ | async)" [message]="'PROFILE.NOT-PROFILE'">
    </app-empty-state>

  </ion-grid>
</ion-content>