<ion-header>
  <app-modal-toolbar [title]="'CAMPS.DETAIL.TITLE'"></app-modal-toolbar>
</ion-header>

<ion-content padding>

  <app-loading *ngIf="loading$ | async"></app-loading>

  <ng-container *ngIf="!(loading$ | async) && (camp$ | async)">

    <div class="ecamp-card" *ngIf="camp$ | async as camp">

      <div class="ecamp-card-header">
        <h4><strong>{{ camp.code }} : {{ camp.name }}</strong></h4>
        <h5>{{ camp.installations }}</h5>
      </div>

      <ion-slides pager>
        <ion-slide *ngFor="let image of camp.images">
          <img [src]="image.secure_url || image.url">
        </ion-slide>
      </ion-slides>

      <div class="ecamp-card-body">

        <div class="ecamp-card-age">
          <h6> {{ 'CAMPS.SMALL-CAMP.AGE' | translate }}:{{ camp.age.min }} - {{ camp.age.max }}
            {{ 'CAMPS.SMALL-CAMP.YEARS' | translate }}</h6>
        </div>
        <div class="ecamp-card-content">
          <i class="fas fa-home icon"></i>
          <h6>{{ camp.address }} ({{ camp.province }})</h6>
        </div>
        <div class="ecamp-card-content">
          <i class="fas fa-calendar-alt icon"></i>
          <h6>{{ camp.date.start.timestamp | formatDate }} - {{ camp.date.end.timestamp | formatDate }}
            ({{ camp.numDays }} {{ 'CAMPS.SMALL-CAMP.DAYS' | translate }})
          </h6>
        </div>
        <div class="ecamp-card-content">
          <i class="fas fa-users icon"></i>
          <h6>{{ camp.numPeople }} {{ 'CAMPS.SMALL-CAMP.PEOPLE' | translate }}</h6>
        </div>
        <div class="ecamp-card-content">
          <i class="fas fa-euro-sign icon"></i>
          <h6>{{ camp.price }}</h6>
        </div>

      </div>

      <div class="container-fluid ecamp-card-modalities">
        <div class="row">
          <app-modality-badge class="col-md-4" *ngFor="let modality of camp.modalities" [id]="modality.id"
            [name]="modality.name">
          </app-modality-badge>
        </div>
      </div>

    </div>

    <ng-container *ngIf="camp$ | async as camp">
      <h3 *ngIf="camp.pdf.secure_url || camp.pdf.url">
        <strong>{{ 'CAMPS.DETAIL.INFORMATION' | translate }}</strong>
        <i class="fas fa-file-pdf ecamp-btn-file" (click)="openPDF(camp)"></i>
      </h3>
      <div>
        {{ camp.description }}
      </div>
      <hr>
      <div *ngIf="camp.observations">
        <h5><strong>{{ 'CAMPS.DETAIL.OBSERVATIONS' | translate }}</strong></h5>
        {{ camp.observations }}
      </div>
    </ng-container>

  </ng-container>

  <app-empty-state *ngIf="!(loading$ | async) && !(camp$ | async)" [message]="'CAMPS.DETAIL.NOT-CAMP'">
  </app-empty-state>

</ion-content>