<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="ecamp-btn-menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ 'MENU.APPLICATIONS' | translate | uppercase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <app-loading *ngIf="loading$ | async"></app-loading>

    <div class="table-responsive" *ngIf="bills$ | async as bills">
      <table class="table" *ngFor="let bill of bills">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'APPLICATIONS.TABLE.CAMP.CODE' | translate }}</th>
            <th scope="col"><span>{{ 'APPLICATIONS.TABLE.CAMP.NAME' | translate }}</span></th>
            <th class="table-camp-price" scope="col">{{ 'APPLICATIONS.TABLE.CAMP.PRICE' | translate }} <span>(€)</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let camp of bill.camps; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ camp.code }}</td>
            <td class="table-camp-name" (click)="openCampDetail(camp)">{{ camp.name }}</td>
            <td>{{ camp.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-empty-state *ngIf="!(loading$ | async) && !(bills$ | async).length"
      [message]="'APPLICATIONS.NOT-APPLICATIONS'">
    </app-empty-state>

  </ion-grid>
</ion-content>