page-bills {

    .table-camp {

        &-name {

            color: map-get($colors, color-blue);
            font-weight: bold;
        }

        &-price {

            display: flex;

            span {
                padding-left: 5px;
            }
        }
    }
}