.ecamp-btns {
    
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;

    button:first-child {
        margin-right: 10px;
    }
}

.ecamp-btn {

    border: none;

    &-disabled {
        background-color: map-get($colors, disabled);
        color: #fff;
    }

    &-primary {
        background-color: map-get($colors, primary);
        color: #fff;
    }

    &-success {
        background-color: map-get($colors, success);
        color: #fff;
    }

    &-danger {
        background-color: map-get($colors, danger);
        color: #fff;
        
    }

    &-icon {
        padding: 0;
        cursor: pointer;
        background-color: transparent;
    }

    &-icon:focus {
        outline: 0;
    }

    &-table-icon {
        cursor: pointer;
        padding: 5px;
        border: 1px solid;
        border-radius: 50%;
        font-size: 15px;
    }

    &-file {
        color: map-get($colors, color-red);
    }

    &-menu {
        color: #fff;
    }
}