.ecamp-card {

    width: 100%;
    margin-bottom: 25px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    &-header {
        height: auto;
        padding: 15px;
        
        h4, h5 {
            margin: 10px 0px;
            //font-weight: bold;
        }
    }

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &-body {
        
        height: auto;
        padding: 15px;
        border-bottom: 1px solid gainsboro;
        
        .ecamp-card-age {
           
            margin: 10px 0px;
            font-size: 20px;

            h6 {
                margin: 0;
            }
        }

        .ecamp-card-content {
            
            display: flex;
            margin: 10px 0px;
            font-size: 20px;
            
            h6 {
                margin: 0;
                padding: 5px;
            }
        }
    }

    &-modalities {
        padding-top: 15px; 
        padding-bottom: 15px; 
    }

    &-footer {
        display: flex;
        text-align: center;
    }
}