/* NUNITO */

@font-face {
    font-family: 'Nunito-ExtraLight';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/Nunito/Nunito-ExtraLight.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito-Light';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/Nunito/Nunito-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito-Regular';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Nunito/Nunito-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Nunito/Nunito-SemiBold.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito-Bold';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Nunito/Nunito-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Nunito/Nunito-ExtraBold.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito-Black';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Nunito/Nunito-Black.ttf') format('woff2');
}

/* MONTSERRAT */

@font-face {
    font-family: 'Montserrat-ExtraLight';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Black';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf') format('woff2');
}