.ecamp-list {

    .list-item {

        border-top: 1px solid map-get($colors , color-default);
        border-bottom: 1px solid map-get($colors , color-default);
    }

    i {
        color: map-get($colors , color-default);
    }
}