h1, h2, h3, h4, h5, h6, p {
    font-family: 'Nunito-ExtraLight', 'Montserrat-ExtraLight', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 12px;
}