<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="ecamp-btn-menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MENU.HOME' | translate | uppercase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col col-12 text-center>
        <h1><strong>{{ 'HOME.TITLE' | translate }}</strong></h1>
        <h3><strong>{{ 'HOME.SUBTITLE' | translate }}</strong></h3>
      </ion-col>
    </ion-row>

    <ion-row class="menu-cards">
      <ion-card ion-col col-4 class="card-item" *ngFor="let page of pages" (click)="goToPage(page)">
        <ion-card-content class="card-item-content" text-center>
          <i class="{{ page.icon }}"></i>
          <p><strong>{{ page.title | translate }}</strong></p>
        </ion-card-content>
      </ion-card>
    </ion-row>

  </ion-grid>

</ion-content>