page-home {

    .menu-cards {

        justify-content: center;

        .card-item {

            margin: 15px;

            .card-item-content {
                padding: 5px;
            }

            i {
                font-size: 30px;
                color: map-get($colors, primary);
            }
    
            p {
                margin: 5px;
            }
        }
    }
}
