<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="ecamp-btn-menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>{{ 'MENU.MESSAGES' | translate | uppercase }}</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <app-loading *ngIf="loading$ | async"></app-loading>

  <ng-container *ngIf="!(loading$ | async) && (messages$ | async)">
    <ion-list class="ecamp-list" *ngIf="messages$ | async as messages">

      <button ion-item detail-none class="list-item" *ngFor="let message of messages"
        (click)="openMessageDetail(message)">
        <strong>{{ message.title }}</strong> ({{ message.date.time }})
        <i class="far fa-eye message-icon" item-end></i>
      </button>

    </ion-list>
  </ng-container>

  <app-empty-state *ngIf="!(loading$ | async) && !(messages$ | async).length" [message]="'MESSAGES.NOT-MESSAGES'">
  </app-empty-state>

</ion-content>