<ion-header>
  <app-modal-toolbar [title]="'INSTRUCTORS.DETAIL.TITLE'"></app-modal-toolbar>
</ion-header>

<ion-content padding>

  <app-loading *ngIf="loading$ | async"></app-loading>

  <ng-container *ngIf="!(loading$ | async) && (instructor$ | async)">
    <ion-grid *ngIf="instructor$ | async as instructor">

      <ion-row text-center>
        <ion-col col-12>
          <img class="instructor-avatar" [src]="instructor.avatar.secure_url || instructor.avatar.url"
            alt="instructor-avatar">
        </ion-col>
      </ion-row>

      <ion-row text-center>

        <ion-item col-6 no-lines>
          <ion-label>
            <span class="instructor-label"><strong>{{ 'INSTRUCTORS.DETAIL.NAME' | translate }}:</strong></span>
            {{ instructor.name }}
          </ion-label>
        </ion-item>
        <ion-item col-6 no-lines>
          <ion-label>
            <span class="instructor-label"><strong>{{ 'INSTRUCTORS.DETAIL.SURNAMES' | translate }}:</strong></span>
            {{ instructor.surnames }}
          </ion-label>
        </ion-item>
        <ion-item col-12 no-lines>
          <ion-label>
            <span class="instructor-label"><strong>{{ 'INSTRUCTORS.DETAIL.E-MAIL' | translate }}:</strong></span>
            {{ instructor.email }} <i class="far fa-envelope instructor-icon" (click)="openEmail(instructor)"></i>
          </ion-label>
        </ion-item>
        <ion-item col-12 no-lines>
          <ion-label>
            <span class="instructor-label"><strong>{{ 'INSTRUCTORS.DETAIL.PHONE' | translate }}:</strong></span>
            {{ instructor.phone }} <i class="fas fa-phone instructor-icon" (click)="openPhone(instructor)"></i>
          </ion-label>
        </ion-item>
        <ion-item col-12 no-lines>
          <ion-label><span class="instructor-label"><strong>{{ 'INSTRUCTORS.DETAIL.CV' | translate }}:</strong></span>
            <i class="far fa-file-alt instructor-icon" (click)="openCV(instructor)"></i>
          </ion-label>
        </ion-item>

      </ion-row>

    </ion-grid>
  </ng-container>

  <app-empty-state *ngIf="!(loading$ | async) && !(instructor$ | async)"
    [message]="'INSTRUCTORS.DETAIL.NOT-INSTRUCTOR'">
  </app-empty-state>

</ion-content>