instructor-detail-modal {

    .instructor-avatar {

        width: 150px;
        height: 150px;
        border: 2px solid map-get($colors, color-blue);
        border-style: dotted;
        border-radius: 50%;
        object-fit: cover;
    }

    .instructor-label {
        color: map-get($colors, color-blue);
    }

    .instructor-icon {
        font-size: 25px;
        padding: 5px;
        color: map-get($colors, color-orange);
    }
}
