app-empty-state {

    .no-items {
        text-align: center;
        font-size: 20px;
        font-family: 'Nunito-SemiBold', 'Montserrat-SemiBold', sans-serif;
        color: map-get($colors, primary);
    }
}