<ion-menu [content]="content" type="overlay">

  <ion-header>
    <ion-toolbar>
      <ion-title><strong>{{ 'MENU.TITLE' | translate | uppercase }}</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="ecamp-list">
      <button no-lines ion-item detail-none menuClose *ngFor="let page of pages" (click)="openPage(page)">
        <i class="{{ page.icon }}" item-start></i>
        <strong>{{ page.title | translate }}</strong>
        <i class="fas fa-chevron-right" item-end></i>
      </button>
      <br>
      <button no-lines ion-item detail-none (click)="logout()">
        <strong>{{ 'MENU.GO-OUT' | translate }}</strong>
        <i class="fas fa-sign-out-alt" item-end></i>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>