<ion-header>
  <ion-navbar>
    <ion-title><strong>{{ 'MENU.PROGRAMMINGS' | translate | uppercase }}</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <app-loading *ngIf="loading$ | async"></app-loading>

  <ng-container *ngIf="!(loading$ | async) && (programmings$ | async)">
    <ion-list class="ecamp-list" *ngIf="programmings$ | async as programmings">

      <button ion-item detail-none class="list-item" *ngFor="let programming of programmings"
        (click)="openProgrammingDetail(programming)">
        <strong>{{ programming.title }}</strong>
        <p>({{ programming.date.time }})</p>
        <i class="far fa-eye programming-icon" item-end></i>
      </button>

    </ion-list>
  </ng-container>

  <app-empty-state *ngIf="!(loading$ | async) && !(programmings$ | async).length"
    [message]="'PROGRAMMINGS.NOT-PROGRAMMINGS'">
  </app-empty-state>

</ion-content>